@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');



:root{

    --blue: #648EEB;
    --black: #444;
    --box-shadow: .5rem .5rem rgba(22, 160, 133, .2);
    --border: .2rem solid var(--blue);
    --section-background-color: #FEF5F5;
}

    /* body section */

*{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

html{

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

section{

    padding: 2rem 9%;
}

section:nth-child(even){

    background-color: #f5f5f5;

    /* background: url('https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; */
}

.heading{

    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{

    text-transform: uppercase;
    color: var(--blue);
}

.btn{

    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{

    background-color: var(--blue);
    color: white;
    
}

/* navigation bars starts*/

.header{

    padding: 2rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 80px;
}

.header .logo{

    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{

    color: var(--blue);
}

.header .navbar ul{

    display: inline-flex;
    list-style: none;
}

.header .navbar ul li{

    padding: .5rem 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: capitalize;
    cursor: pointer;
}

.header .navbar a{

    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
    width: 100%;

}

.header .navbar a:hover{

    
    color: var(--blue);
    
}

#contact{

    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
    padding: 0.8rem;
}

#contact:hover{

    background-color: var(--blue);
    color: white;
}

#menu-btn{

    font-size: 2.5rem;
    border-radius: .5rem;
    background: var(--blue);
    color: var(--black);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
}

.home .image{
    flex: 1 1 45rem;
}

.home .image img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .content{

    flex: 1 1 45rem;
    
}

.home .content h3{

    font-size: 4.5rem;
    color: var(--black);
    line-height: 1.8;
    
}

.home .content p{

    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;

}

span#service{

    font-size: 1.8rem;
}

.sub-menu{

    display: none;
}

.header .navbar ul li:hover .sub-menu{

    display: block;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    border: var(--border);
    box-shadow: var(--box-shadow);
    
    
}

.header .navbar ul li:hover .sub-menu ul{

    display: block;
    margin: 10px;
}

.header .navbar ul li:hover .sub-menu ul li{

    width: 230px;
    padding: 5px;
    
}

/* navigation bars ends */


/* statistics css starts */

.icons-container{

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: 5rem;
    padding-bottom: 5rem;

}

.icons-container .icons{

    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i{

    font-size: 4.5rem;
    color: var(--blue);
    padding: .7rem;
}

.icons-container .icons span{

    font-size: 4.5rem;
    color: var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{

    font-size: 1.7rem;
    color: var(--light-color);
}

/* statistics css ends */


/* services css starts */


.services .box-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    /* width: 115rem;
    margin: 0 auto; */
}

.services .box-container .box{

    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
}

.services .box-container .box i{

    color: var(--blue);
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .box-container .box h3{

    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.services .box-container .box p{

    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

/* services css ends */



/* about us css starts */

.about .row{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
      
}

.about .row .image{

    flex:1 1 45rem;
}

.about .row .image img{

    width: 100%;
}

.about .row .content{

    flex: 1 1 45rem;
}

.about .row .content h3{
    
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p{
    
    color: var(--light-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}

/* about us css ends */


/* blogs css starts */

.blogs .box-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.blogs .box-container .box{

    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;

}

.blogs .box-container .box .image{
    
    height: 20rem;
    overflow: hidden;
    border-radius: .5rem;
}

.blogs .box-container .box .image img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .image img{

    transform: scale(1.2);
}

.blogs .box-container .box .content{

    padding: 1rem;
}

.blogs .box-container .box .content .icon{

    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .box-container .box .content .icon a{

    font-size: 1.4rem;
    color: var(--light-color);
}

.blogs .box-container .box .content .icon a:hover{

    color: var(--blue);
}

.blogs .box-container .box .content .icon a i{

    padding: .5rem;
    color: var(--blue);
}

.blogs .box-container .box .content h3{

    color: var(--black);
    font-size: 3rem;

}

.blogs .box-container .box .content p{

    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    
}

/* blogs css ends */


/* slidershow css starts */


.what-we-serve .card-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5rem;
}


.section-metadata{
    text-align: center;
}
.section-tagline{
    display: inline-block;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: .3rem;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2.5rem;

}

.section-tagline span{
    color: var(--blue);
}

.section-title{
    font-size: 2.4rem;
    line-height: 4.4rem;
    margin-bottom: 2.2rem;
}



.card{

    padding: 3rem;
    background-color: #f5f5f5;
    border-radius: 1.2rem;
    border: 2px solid var(--blue);
}

.card-body{
    text-align: center;
    margin: 6rem 0 2rem;
}

.card-title{
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 600;
    
}

.card-body p{
    line-height: 2.5rem;
    font-size: 1.7rem;
}
/* slidershow css ends */



/* footer css starts*/

.footer{

    background: rgb(77, 74, 74);

}

.footer .box-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3{

    font-size: 3rem;
    color: white;
    padding: 1rem 0;
    
}

.footer .box-container .box a{

    display: block;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
    
}

.footer .box-container .box a i{

    padding-right: .5rem;
    color: var(--blue);

}

.footer .box-container .box a:hover i{

    padding-right: 1.2rem;
}

.footer .credit{

    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    border-top: .1rem solid rgba(0, 0, 0, .1);

}

.footer .credit span{

    color: var(--blue);
}

/* footer css ends*/

/* media queries */

@media screen and (min-width: 1200px) {
    .card-group{
        max-width: 100rem;
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        position: relative;
        z-index: 1;
    }
    .card::before,
    .card::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
    }
    .card::before{
        width: calc(100% + 1.5rem);
        height: calc(100% + 1.5rem);
        background-color: var(--blue);
        transform-origin: top left;
        transition: transform .25s, opacity .25s;
        z-index: -2;
        opacity: 0;
    }
    .card::after{
        width: 100%;
        height: 100%;
        background-color: inherit;
        z-index: -1;
    }
    .card:hover::before{
        transform: translate(.5rem, .5rem) rotate(-3deg);
        opacity: 1;
    }
}

@media (max-width:1115px){
    .what-we-serve .card-group{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{

        padding: 2rem;

    }
    .what-we-serve .card-group{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}

@media (max-width:768px){
    
    #menu-btn{

        display: initial;
    }

    .header .navbar{

        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;

    }

    .header .navbar ul{

        display: inline;
        list-style: none;
    }

    .header .navbar ul li{

        padding: 0;
        
    }

    .header .navbar.active{

        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{

        font-size: 2rem;
        display: block;
        margin: 1.5rem;
        width: 11.5rem;

    }

    .header .navbar a:hover{

        color: var(--blue);
        border-bottom: none;
        
    }
    .header .navbar ul li:hover .sub-menu{

        position: absolute;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 5px;
        border: var(--border);
        box-shadow: var(--box-shadow);
        
        
    }

    .header .navbar ul li:hover .sub-menu ul{

        display: block;
        padding: 0;
        
    }

    .header .navbar ul li:hover .sub-menu ul li{

        display: block;
        padding: 0;
        
    }
    .header .navbar ul li:hover .sub-menu a{

        display: block;
        margin: 1.5rem;
        width: 30rem;
        font-size: 15px;
        
    }
    .what-we-serve .card-group{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
}



@media (max-width:450px){

    html{

        font-size: 50%;
    }

    .header{

        padding: 2rem;
    }
    .what-we-serve .card-group{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3rem;
    }
}

