.detel{
    margin-left: 8%;
    margin-top: 13%;
  }
  
  .detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
  }
  
  span{
    color: cornflowerblue;
  
  }
  
  .detel p{
    color: #555;
    line-height: 22px;
    font-size: 10px;
  }
  
  .detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
  }
  
  .images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: -210px;
    top: 270px;
  }
  
  .images img{
    height: 100%;
    position: absolute;
    left: 50px;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  }
  
  .images:hover .shape{
    bottom: 40px;
  }
  
  .images:hover .psy{
    left: 45%;
  }